node_modules/
dist/
artifacts/
cache/
coverage/
typechain-types/
pvm-artifacts/
ignition/deployments/
.env
wallets/*.txt
faucet-wallets.txt

artifacts-pvm/
cache-pvm/out/
foundry.lock
bun.lock
.vercel
